%h1 Tasks

= form_tag root_path, method: :get, remote: true do
  = label_tag "Filter by:"
  = select_tag "filter_tasks", options_for_select(Task::FILTER_TASKS_STATES.keys)
  = submit_tag 'Submit'

%table
  %thead
    %tr
      %th Name
      %th Completed
      %th List
      %th
      %th
      %th

  %tbody#tasks-table
    = render 'table', task: @tasks

%br

=link_to 'Add a task', new_task_path
